# Игнорируем конкретный запускной файл
ConsoleUnlocker.exe

# Игнорируем любые скомпилированные программы и библиотеки
*.exe
*.dll
*.pdb

# Игнорируем папки со сборками C++ (папки Debug, Release, x64)
Debug/
Release/
x64/
.vs/
